@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'ZYHeaven';
  src: url('/fonts/zy-heaven-fs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-instagram {
  background-color: #6E5191;
  color: #fff !important;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.custom-instagram a {
  color: #6E5191;
  text-decoration: none;
  font-weight: bold;
}

.custom-instagram a:hover {
  text-decoration: underline;
}

@layer base {
  .instagram-media {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background-color: #6e5191 !important;
  }
}